@model BettyGram.Models.Speech2TextViewModel

<h1>Bethy speech</h1>
<div class="right">
    <button id="start_button" onclick="startButton(event)">
        mic
    </button>
</div>
<div id="results">
    <span id="final_span" class="final"></span>
    <p>
</div>