<link href="~/Content/Video.css" rel="stylesheet" />

<div class="container-elements">

    <div id="div1">

    </div>
    <div id="div2">
        @*<canvas id="canvas1" height="320" width="400"></canvas>*@
        <video width="420" height="250" id="video1" src="~/Content/Video/CalculationMovie.mp4"></video>
    </div>

    <div id="div3">
    </div>

    <div id="div4">
        @*<canvas id="canvas2" height="320" width="400"  ></canvas>*@
        <video width="420" height="420" id="video2" src="~/Content/Video/CalculationMovie.mp4"></video>
    </div>

    <div id="div5">
    </div>

    <div id="div6">
        @*<canvas id="canvas3" height="320" width="400" ></canvas>*@
        <video width="420" height="420" id="video3" src="~/Content/Video/CalculationMovie.mp4"></video>
    </div>

    <div id="div7">
    </div>

    <div id="div8">
        @*<canvas id="canvas4" height="320" width="400"></canvas>*@
        <video width="420" height="250" id="video4" src="~/Content/Video/CalculationMovie.mp4"></video>
    </div>

    <div id="div9">
    </div>
</div>
<script>
   $(function () {
      $("#video1").get(0).play();
      $("#video2").get(0).play();
      $("#video3").get(0).play();
      $("#video4").get(0).play();

   });

</script>