<link href="~/Content/Text.css" rel="stylesheet" />

<div id="div1">

</div>
<div id="div2">
   <figure id="fig1">
      <h1>STABIPLAN SRL </h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
   </figure>
</div>
<div id="div3">

</div>

<div id="div4">
   <figure id="fig2">
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
   </figure>
</div>
<div id="div5">
</div>
<div id="div6">
   <figure id="fig3">
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
   </figure>
</div>

<div id="div7">

</div>

<div id="div8">
   <figure id="fig4">
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
      <h1>STABIPLAN SRL</h1>
   </figure>
</div>
<div id="div9">
</div>