<link href="~/Content/Video.css" rel="stylesheet" />

<div class="container-elements">
 
   <div id="div1">

   </div>
   <div id="div2">
      <iframe width="380" height="250" src="https://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"> </iframe>
   </div>

   <div id="div3">
   </div>

   <div id="div4">
      <iframe width="380" height="250" src="https://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"> </iframe>
   </div>

   <div id="div5">
   </div>

   <div id="div6">
      <iframe width="380" height="250" src="https://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"></iframe>
   </div>

   <div id="div7">
   </div>

   <div id="div8">
      <iframe width="380" height="250" src="https://www.youtube.com/embed/XGSy3_Czz8k?autoplay=1"> </iframe>
   </div>

   <div id="div9">
   </div>
</div>