@{ 
   string guid = Guid.NewGuid().ToString("N");
   string videoUrl = "/Content/Video/LogoWithSoundFinal.mp4?guid=" + @guid;
}
<link href="~/Content/Video1.css" rel="stylesheet" />

<div class="fullwidth">

    <div id="row1">
        <video width="400" height="200" class="video-1" id="video1" src="@videoUrl"></video>
        <div style="width: 400px; height: 200px; display:none" id="placeholder1"></div>
        <canvas style="width: 400px; height: 200px;" class="canvas1" id="myChart-1"></canvas>
    </div>

    <div id="row2">
        <video width="400" height="200" class="video-2" id="video2" src="@videoUrl"></video>
        <div style="width: 400px; height: 200px; display:none" id="placeholder2"></div>
        
        <canvas style="width: 400px; height: 200px;" class="canvas2" id="myChart-2"></canvas>
        
        @*<img id="mic" src="/Content/mic.png" width="100" alt="mic" />*@
        <video width="400" height="200" class="video-3" id="video3" src="@videoUrl"></video>
        <div style="width: 400px; height: 200px; display:none" id="placeholder3"></div>
        <canvas style="width: 400px; height: 200px;" class="canvas3" id="myChart-3"></canvas>
    </div>

    <div id="row3">
        <video width="400" height="200" class="video-4" id="video4" src="@videoUrl"></video>
        <div style="width: 400px; height: 200px; display:none" id="placeholder4"></div>
        <canvas style="width: 400px; height: 200px;" class="canvas4" id="myChart-4"></canvas>
    </div>

</div>

